// couleurs principales
$first-color : ;
$snd-color: ;
$third-color: ;

// bouton simple
$btncolor: ;
$btncolor-text: ;

// bouton hover
$btncolor-hover: ;
$btncolor-hover-text: ;

// police
$font: ;
